.container {
	box-sizing: border-box;
	width: 900px;
	margin: 0;
	padding: 10px;
	list-style: none;
	background-color: silver; 
}

.flex-item {
	width: 200px;
	margin-bottom: 10px;

	background-color: blue;
	color: white;
}

img {
	display: block;
}
div {
	padding: 1em;
}
