* {
	box-sizing: border-box;
}
.container {
	text-align: center;
}
	.container > * {
		padding: 10px;
	}

.header {
	background: blue;
}
.main {
	background: grey; 
	text-align: left;
}
.nav {
	background: gold;
}
.aside {
	background: hotpink;
}
.footer {
	background: green;
}


@media all and (min-width: 992px) {
	.nav, .aside {
	}
}


@media all and (min-width: 1200px) {
	.nav {
	}
	.main {
	}
	.aside {
	}
	.footer {
	}
}



