.container {
	height: 300px;
	width: 100%;
	background-color: silver; 
}

.container > div {
	height: 50%;
	width: 30%;
	padding: 10px;
	overflow: hidden; 

	background-color: #CCC;
	color: white;
	border-radius: 5px;
	box-shadow: 1px 1px 10px white;
}

